alembic==1.7.7
apilytics==1.6.0
asgiref==3.5.0
bcrypt==3.1.4
blinker==1.4
Brotli==1.0.9
cachelib==0.6.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
clang==14.0
click==8.0.4
ConfigArgParse==1.5.3
cryptography==36.0.2
cssselect==1.1.0
cssutils==2.4.0
cycler==0.11.0
Django==4.0.6
emails==0.6
Flask==2.0.3
Flask-BasicAuth==0.2.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-Share==0.1.1
Flask-SQLAlchemy==2.5.1
fonttools==4.32.0
gevent==21.12.0
geventhttpclient==1.5.3
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
image==1.5.33
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.4.2
locust==2.8.4
lxml==4.9.1
Mako==1.2.2
MarkupSafe==2.1.0
matplotlib==3.5.1
msgpack==1.0.3
mysql-connector-python==8.0.28
nltk==3.7
numpy==1.22.3
packaging==21.3
phonenumbers==8.12.45
Pillow==9.0.1
premailer==3.10.0
protobuf==3.19.4
psutil==5.9.0
pycparser==2.21
PyJWT==2.4.0
PyMySQL==1.0.2
pyparsing==3.0.8
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2022.1
pyzmq==22.3.0
qrcode==7.3.1
regex==2022.4.24
requests==2.27.1
roundrobin==0.0.2
sendgrid==6.9.7
six==1.11.0
SQLAlchemy==1.4.32
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
stop-words==2018.7.23
termcolor==1.1.0
tqdm==4.64.0
twilio==7.8.0
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
zope.event==4.5.0
zope.interface==5.4.0
opencv-python==4.6.0.66
