bcrypt==3.1.4
blinker==1.4
cachelib==0.6.0
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==36.0.2
Django==4.0.3
Flask==2.0.3
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Session==0.4.0
Flask-Share==0.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
image==1.5.33
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql-connector-python==8.0.28
mysql-connector-python-rf==2.2.2
Pillow==9.0.1
protobuf==3.19.4
pycparser==2.21
PyMySQL==1.0.2
qrcode==7.3.1
requests==2.27.1
six==1.11.0
SQLAlchemy==1.4.32
sqlparse==0.4.2
urllib3==1.26.8
Werkzeug==2.0.3
WTForms==2.1
apilytics
pyshorteners
twilio
phonenumbers
sendgrid