<table width="100%" cellspacing="0" cellpadding="0">

    <h1>Reset your Grapevine Password</h1>
    <p>Tap the button to reset your password for Grapevine, if you did not request a new password you can ignore this email</p>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#f5e551">
                        <a href="https://grapevine.works/reset-password/{{ token }}" target="_blank" style="padding: 8px 12px; border: 1px solid #000000;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #000000;text-decoration: none;font-weight:bold;display: inline-block;">
                            Reset password             
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    
  </table>
  <hr>
  <p>Cheers, the Grapevine team</p>