<table width="100%" cellspacing="0" cellpadding="0">

    <h1>Welcome to Grapevine!</h1>
    <p>Your account was created succesfully hit the button to sign in!</p>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#f5e551">
                        <a href="https://grapevine.works/sign-in" target="_blank" style="padding: 8px 12px; border: 1px solid #000000;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #000000;text-decoration: none;font-weight:bold;display: inline-block;">
                            Sign in             
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
  <hr>
  <p>Cheers, the Grapevine team</p>