
{% extends "chats/chatquestion1_new.html" %} {% block title %}GrapeVine - Giving Feedback made easy{% endblock %} 

{% block Content%}
<!-- Message right-->
<div class="msg right-msg">
    <div
     class="msg-img"
     style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
    ></div>

    <div class="msg-bubble">
      <div class="msg-info">
        <div class="msg-info-name">You</div>
        <div class="msg-info-time">12:46</div>
      </div>

      <div class="msg-text">
        {{answer1}}
      </div>
    </div>
  </div>
  <!-- EndMessage right-->

  <!-- Message left-->
  <div class="msg left-msg">
    <div
     class="msg-img"
     style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
    ></div>

    <div class="msg-bubble">
      <div class="msg-info">
        <div class="msg-info-name">{{username}}</div>
        <div class="msg-info-time">12:45</div>
      </div>

      <div class="msg-text">
        {{question1}} 😄
      </div>
    </div>
  </div>
  <!-- End message Left -->


</main>
  
  
<form method="POST"class="msger-inputarea">
 <input type="text" name="text" id="text" class="msger-input" placeholder="Enter your message...">
 <button type="submit" class="msger-send-btn"> <i class="fa fa-paper-plane"></i>Send</button>
</form>
</section> 
{% endblock%}
        