
{% extends "chats/create_post.html" %} {% block title %}GrapeVine - Giving Feedback made easy{% endblock %} 



{% block Content%}
<div class="media media-chat media-chat-reverse">
        <div class="media-body">
            <p>{{previoustext}}</p>
            <p>How are you doing?</p>
            <p>Long time no see! Tomorrow office. will be free on sunday.</p>
            <p class="meta"><time datetime="2018">00:06</time></p>
        </div>    
    </div>


    <div class="media media-chat media-chat">
        <div class="media-body">
            <p>Here is my SECOND question asking for an answer</p>
            <p class="meta"><time datetime="2018">00:06</time></p>
        </div>    
    </div>  


    <div class="media media-chat media-chat-reverse">
        <div class="media-body">
            <p>{{text1}}</p>
            <p>How are you doing?</p>
            <p>Long time no see! Tomorrow office. will be free on sunday.</p>
            <p class="meta"><time datetime="2018">00:06</time></p>
        </div>    
    </div>


    <div class="media media-chat media-chat">
        <div class="media-body">
            <p>Here is my THIRD question asking for an answer</p>
            <p class="meta"><time datetime="2018">00:06</time></p>
        </div>    
    </div> 
{% endblock%}
        