
{% extends "theme.html" %} {% block title %}Frankly - Giving Feedback made easy{% endblock %} 

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% block Content %}

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Contact information
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
                </div>
              </div>


              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.username}}">
                </div>
              </div>

            
              
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.phonenumber}}">
                </div>
              </div>
              </div>
              
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Remaining Credits
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>With Frankly you get your first 100 responses for free, after that you an top up for another 100 responses for just €3,99. Here is how much credit you have used.<br><br>
              <b>Used credits so far:</b>
              <div class="progress">
                <div class="progress-bar text-dark" role="progressbar" style="width: {{ModTotalpost}}%;" aria-valuenow="{{ModTotalpost}}" aria-valuemin="0" aria-valuemax="100">{{ModTotalpost}}%</div>
              </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Survey Settings
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <!--Form for the usersettings-->
                <form method="POST">
                <h4>Customize your survey:</h4>
                <h6>Name:</h6>
                <div class="mb-3">
                  <div id="emailHelp" class="form-text">This is the name your users will see when you ask them feedback</div>

                  <input 
                  type="text" 
                  class="form-control" 
                  name="userpublicname" 
                  id="userpublicname" 
                  placeholder="{{user.userpublicname}}" 
                  aria-describedby="emailHelp"/>
                </div>
                <!--Logo is disabled as it's not fully implemented yet
                <h6>Logo:</h6>
                <div class="mb-3">
                  
                  <label for="userlogo" class="form-label">This is the logo users will see when interacting with you</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  name="userlogo" 
                  id="userlogo" 
                  placeholder="{{user.userlogo}}" 
                  aria-describedby="emailHelp"/>
                  
                  <div id="emailHelp" class="form-text">Make sure to link to a web-optimized URL of your image. 
  
                  </div>
                  <div class="card" style="width: 20%">
                    <img src="{{user.userlogo}}" class="card-img-top" alt="...">
                    
                  </div>
                </div>
                             
                <button type="submit" class="btn btn-primary text-dark"><i class="bi bi-check2-square"></i> Save branding</button>
                <hr>-->
                <h6>Main question:</h6>
  
                  <div class="mb-3">
                    <input 
                    type="text" 
                    class="form-control" 
                    name="FirstCustomQuestion" 
                    id="FirstCustomQuestion" 
                    placeholder="{{user.customquestion0}}" 
                    aria-describedby="emailHelp"/>
                  </div>
                  <h6>Follow up questions:</h6>
                  <div id="emailHelp" class="form-text">After the user answers the main question, they can get up to 2 followup questions.</div>
                  <div class="mb-3">
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="{{user.customquestion1}}" 
                    name="FollowUpQuestion1" 
                    id="FollowUpQuestion1"/>
                  </div>
                  
                    <div class="mb-3">
                      <input 
                      type="text" 
                      class="form-control" 
                      placeholder="{{user.customquestion2}}" 
                      name="FollowUpQuestion2" 
                      id="FollowUpQuestion2"/>
                    </div>
  
                <button type="submit" class="btn btn-primary text-dark"><i class="bi bi-check2-square"></i> Save Custom Questions</button>
              </form>
                <!-- End form usersettings-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <small>{{user.date_created}} - {{user.id}}</small>
        <button type="button" class="btn btn-primary text-dark" data-bs-dismiss="modal"> Back</button>
      </div>
    </div>
  </div>
</div>


{% if haspaid  < 1 %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
    window.onload = function () {
        OpenBootstrapPopup();
    };
    function OpenBootstrapPopup() {
        $("#simpleModal").modal('show');
    }
</script>
<!-- Modal -->
<div id="simpleModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Unlock the next 100 responses for just €3,99</h5>
              
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Hey! We love to see that you already collected 100 responses through Frankly! It looks like you're on a roll!<br><br>
              The first 100 responses are on us, but as servers do not come for free we created this pay-as-you-go model for Frankly. This means that after the first 100 responses you can buy another set of 100 responses for just €3,99. No subscriptions, no recurring fees.Simple, right?<br><br>
              Simply tap the button below to go to our payment partner bunq.

              <br><br>
              <div class="d-grid gap-2 col-6 mx-auto">
                        
                <a href="https://bunq.me/franklyapp/3.99/{{user.id}}/ideal" target="_blank" class="btn btn-primary text-dark" role="button"><img  width="24" height="24" src="{{ url_for('static',filename='/assets/img/ideal.png')}}"  alt="Card image cap"> Pay with iDeal</a>
                <a href="https://bunq.me/franklyapp/3.99/{{user.id}}/card" target="_blank" class="btn btn-primary text-dark" role="button"><i class="bi bi-credit-card"></i> Pay with creditcard</a>
  
              </div>
          </div>
          <div class="modal-footer">
            <small>It might take a minute or 2 for the payment to come through, but in most cases it's instant.</small>
            <a class="btn btn-light text-dark" href="/dashboard/{{user.username}}" role="button"><i class="bi bi-arrow-repeat"></i> I have paid, see if my payment arrived yet</a>
            
            
          </div>
      </div>
  </div>
</div>
{%endif%}


<div class="container "></div>
<br><br>
<!--Header of dasbhoard-->
<h1 class="d-inline align-middle"><img src="{{user.userlogo}}" alt="" width="10%"  class="d-inline-block align-text-top">{{user.userpublicname}} Dashboard</h1>

<hr>
<!--Splitting up in grid view for the graphs-->
<div class="row">
  <div class="col-sm-4 ">
    <div class="row">
      <div class="jumbotron jumbotron-fluid rounded bg-light" style="height: 230px">
        <div class="container">
          <br><br>
          <h1 class="display-4">{{ Franklyscore }}</h1>
          <p class="lead">NPS Score</p>
          <p>Your responses converted into a NPS  score.</p>
        </div>
      </div>
    <br>
    
    </div>
    
  </div>
  <div class="col-sm-4 height=100%">
    <div class="row">
      <div class="jumbotron jumbotron-fluid rounded bg-light" style="height: 230px">
        <div class="container">
          <br><br>
          <h1 class="display-4">{{ totalresponses }}</h1>
          <p class="lead">Total responses</p>
          <p>The total of all the feedback you have received</p>
          
          
        </div>
      </div>
    <br>
    
    </div>
    
  </div>
  

  <div class="col-sm-4">
    <div class="row">
      <div class="jumbotron jumbotron-fluid rounded bg-light" style="height: 230px">
        <div class="container">
          <p class="lead">Ask for feedback now</p>
          <p>Ask your clients for feedback, by forwarding them one of our templates or send them our link.</p>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEmail" aria-controls="offcanvasEmail"><i class="bi bi-envelope-check"></i><br> Email</button>
            <button type="button" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSMS" aria-controls="offcanvasSMS"> <i class="bi bi-chat-dots"></i><br> SMS</button>
   
            <button type="button" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLink" aria-controls="offcanvasLink"><i class="bi bi-share"></i> <br>Link</button>
            <button class="btn btn-primary text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-qr-code"></i> <br>QR Codes</button>

          </div>
          
        </div>
        
      </div>
    <br>
    
    </div>
    
  </div>
  
  <div class="row">
  <div class="col-12">




<!--Here WE Start THE CAROUSEL -->
<!-- This javascript is used to controll the carousel-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- CSS only -->
<!-- Styling specific to carousel-->
{% if totalresponses  > 0 %}
<br><br>
<h2>Analytics</h2>

  <div id="myCarousel"  class="carousel slide carousel-dark" data-bs-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="false">
        <div>
          <br><br>
          
          <div class="w-75 p-3 mh-25 align-items-start">
            <div class="row align-items-start row-sm-8">
            <h5>Users per category</h5>
          <canvas id="lineChart" ></canvas>
        </div>
        </div><br><br>
        </div>
      </div>


    <div class="carousel-item" data-bs-interval="false">
      <div>
        <br><br>
        <div class="w-75 p-3 mh-25 align-items-start">
          <div class="row align-items-start row-sm-12">
              <h5>Words your happy users use:</h5>
              <canvas id="lineChartWords" ></canvas>
            </div>
          </div>
        
      </div><br><br>
    </div>

    <div class="carousel-item" data-bs-interval="false">
      <div>
        <br><br>
        <div class="w-75 p-3 mh-25 align-items-start">
          <div class="row align-items-start row-sm-12">
              <h5>Words your unhappy users use:</h5>
              <canvas id="lineChartWordsNegative" ></canvas>
            </div>
          </div>
        
      </div><br><br>
    </div>

    <div class="carousel-item" data-bs-interval="false">
      <div>
        <br><br>
        <div class="w-75 p-3 mh-25 align-items-start">
          <div class="row align-items-start row-sm-12">
              <h5>Responses over time</h5>
              <canvas id="lineChartDates" ></canvas>
            </div>
          </div>
        
      </div><br><br>
    </div>

    <div class="carousel-item" data-bs-interval="false">
      <div>
        <br><br>
        <div class="w-50 p-3 mh-25 align-items-start row-6">
          <div class="row align-items-start row-sm-12">
              <h5>Distribution of your users</h5>
              <canvas id="pieChart" ></canvas>
            </div>
          </div>
        
      </div><br><br>
    </div>
  </div>



    <!--<button class="carousel-control-prev text-dark" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>-->
    <div class="row">
    <button class="carousel-control-next text-dark" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      <small>Next graph</small>
    </button>
  </div>
  </div>



<!--HERE WE END THE CAROUSEL -->







    <!--Drawing the bar chart-->

    <script>
      var ctx = document.getElementById("lineChart").getContext("2d");
      var lineChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: {{ labels | safe }},
          datasets: [
            {
            data: {{ values |safe }},
            fill: true,
            backgroundColor: [
              'rgb(180, 231, 218)',
              'rgb(245, 228, 81)',
              'rgb(172, 173, 200)'
            ],
            },
          ]
        },
        options: { 
          
          plugins: { 
          legend: { display: false }
            },
          ticks: {
          stepSize: 10
        }   
         }
      });
    </script></div>
    {% else %}


    
    {% endif%}
</div>
</div>
<!-- Drawing the doughnut chart-->
{% if totalresponses  > 0 %}
<hr>
<h2> What your users are saying:</h2><br>


<div class="row justify-content-between">

  
  <div class="col-sm-4">
<!--Commonly used words-->

  <script>
    var ctx = document.getElementById("lineChartWords").getContext("2d");
    var lineChartWords = new Chart(ctx, {
      type: "bar",
      data: {
        labels: {{ PositiveWordLabels | safe }},
        datasets: [
          {
          data: {{ PositiveWordValues |safe }},
          fill: true,
          backgroundColor: [
            'rgb(180, 231, 218)',
       

          ],
          },
        ]
      },
      options: { 
        ticks: {
          stepSize: 10
        },
        indexAxis: 'y',
        responsive: true, 
        plugins: { 
          legend: { display: false },
          title: { display: true},
          text: 'Commonly used words' } }
    });
  </script>

  <script>
    var ctx = document.getElementById("lineChartWordsNegative").getContext("2d");
    var lineChartWords = new Chart(ctx, {
      type: "bar",
      data: {
        labels: {{ NegativeWordLabels | safe }},
        datasets: [
          {
          data: {{ NegativeWordValues |safe }},
          fill: true,
          backgroundColor: [
          'rgb(172, 173, 200)',
       

          ],
          },
        ]
      },
      options: { 
        
        ticks: {
          stepSize: 10
        },
        indexAxis: 'y',
        responsive: true, 
        plugins: { 
          legend: { display: false },
          title: { display: true},
          text: 'Commonly used words' } }
    });
  </script>


  <script>
    var ctx = document.getElementById("lineChartDates").getContext("2d");
    var lineChartDates = new Chart(ctx, {
      type: "line",
      data: {
        labels: {{ timestamplabels | safe }},
        datasets: [
          {
          data: {{ countvalues |safe }},
          fill: true,
          backgroundColor: [
          'rgb(245, 228, 81)',
       

          ],
          },
        ]
      },
      options: { 
        
        scales: {
          
        },
        ticks: {
          stepSize: 10
        },
        indexAxis: 'x',
        responsive: true, 
        plugins: { 
          legend: { display: false },
          title: { display: true},
          text: 'When did your responses came in' } }
    });
  </script>




  <!--Pie chart with-->

    <script>
      var ctx = document.getElementById("pieChart").getContext("2d");
      var pieChart = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: {{ percentagelabels | safe }},
          datasets: [
            {
              backgroundColor: [
              'rgb(180, 231, 218)',
              'rgb(245, 228, 81)',
              'rgb(172, 173, 200)'
            ],
            label: " Score",
            data: {{ percentagevalues |safe }},
            fill: false,
            lineTension: 0.5
            },
          ]
        },
        options: {
          
          responsive: true,
          legend: {
                position: 'chartArea'
            }
        }
      });
    </script>
    <br><br>
    <h6>Your remaining Frankly Credit:</h6>
    With Frankly you get your first 100 responses for free, after that you an top up for another 100 responses for just €3,99. Here is how much credit you have used.<br><br>
    <b>Credits used so far:</b><br>
    <div class="progress">
      <div class="progress-bar text-dark" role="progressbar" style="width: {{ModTotalpost}}%;" aria-valuenow="{{ModTotalpost}}" aria-valuemin="0" aria-valuemax="100">{{ModTotalpost}}%</div>
    </div>  
  </div>

    
{% else %}
<br><br>


{% endif%}

  <div class="col-sm-8"><div id="posts"></br >
    {% if totalresponses  > 0 %}

<!--Here we have the section that controls pagination-->

<!-- Pagination Links-->
<div class="d-flex flex-row-reverse">
  <div class="text-right">
    <a href="/dashboard/{{user.username}}?page={{posts.prev_num}}"
    
       class="btn btn-outline-dark 
       {% if posts.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
  <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  <!-- Check for the active page and set the link to "Active"-->
            {% if posts.page == page_num %}
            <a href="/dashboard/{{user.username}}?page={{ page_num }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="/dashboard/{{user.username}}?page={{ page_num }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="/dashboard/{{user.username}}?page={{posts.next_num}}"
       class="btn btn-outline-dark 
       {% if posts.page == posts.pages %}disabled{% endif %}">
        &raquo;
    </a>
  </div><br><br>
  <!--<p class="text-right mt-3">
   Showing page {{ posts.page }} of {{ posts.pages }}<br>
  </p> -->
  </div>
  <!-- End of Pagination Links-->
    

    {% for post in posts.items %}
    <div class="card border-grey">
        {% if post.rating > 2 %}
        <div class="card-header d-flex bg-primary justify-content-between align-items-center">
        <h1><i class="far fa-smile" color-primary></i></h1>  <h4>{{user.customquestion0}}</h4>
        {%elif post.rating > 1 %}
        <div class="card-header d-flex bg-secondary justify-content-between align-items-center">
        <h1><i class="far fa-meh" bg-primary></i></h1>  <h4>{{user.customquestion0}}</h4>
        {%elif post.rating < 2 %}
        <div class="card-header d-flex bg-third justify-content-between align-items-center">
        <h1><i class="far fa-frown" bg-primary></i></h1> <h4> {{user.customquestion0}}</h4>
        {%endif%}
        <div>
         <!-- <span id="likes-count-{{post.id}}">
          {{ post.likes|length }}</span> 
          {% if user.id in post.likes|map(attribute="author")|list %}
          Disabled the thubs up
            </1><i
            class="fas fa-thumbs-up"
            id="like-button-{{post.id}}"
            onclick="like({{post.id}})"
          ></i>
          {% else %}
          <i
            class="far fa-thumbs-up"
            id="like-button-{{post.id}}"
            onclick="like({{post.id}})"
          ></i>
          {% endif %}--> {% if user.id == post.author %}
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              
            ><i class="bi bi-trash"></i></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item"
                  ><i class="bi bi-trash"></i> Delete</a
                >
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="card-text"><h3><b>{{post.text}}</b></h3></div>
        <br />
        <div class="collapse text-dark" id="comments-{{post.id}}">
          <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">
              <h5> Followup Answers:</h5>
                  <small>- {{user.customquestion1}}</small><br>
                  <small>- {{user.customquestion2}}</small>
              {% for comment in post.comments %}
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <br>
                  <ul>Your customer said: <br> "<i>{{comment.text}}</i>"</ul>
                </div>
                <div>
                  <small class="text-muted"> {{comment.date_created}}</small>
                  {% if user.id == comment.author or user.id == post.author %}
                    <!--Disabling deletion of comments,
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-dark dropdown-toggle"
                      data-bs-toggle="dropdown"
                    ><i class="bi bi-trash"></i></button>
                    <ul class="dropdown-menu">
                    
                        <li>
                        <a
                          href="/delete-comment/{{comment.id}}"
                          class="dropdown-item"
                          ><i class="bi bi-trash"></i> Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                -->
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="card-text">
          {% if totalresponses > 0 %}
          <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
            <small class="text-dark">View {{post.comments|length}} answers to followup questions</small>
          </a>
          {% else %}
          <small class="text-muted">No Comments</small>
          {% endif %}
        </p>
        <!-- Add note feature disabled
        <form
          class="input-group mb-3"
          method="POST"
          action="/create-comment/{{post.id}}"
        >
          <input
            type="text"
            id="text"
            name="text"
            class="form-control"
            placeholder="Add a note"
          />
          <button type="submit" class="btn btn-dark"><i class="bi bi-pen"></i> Add note</button>
        </form>-->
      </div>
      <div class="card-footer text-muted justify-content-between d-inline">
        <div class="d-inline justify-content-between">{{post.date_created}}</div>
        <div class="d-inline justify-content-between">{{post.id}}</div>
      </div>
    </div>
  </br > {% endfor %}
<!--Here we have the section that controls pagination-->

<!-- Pagination Links-->
<div class="d-flex flex-row-reverse">
<div class="text-right">
  <a href="/dashboard/{{user.username}}?page={{posts.prev_num}}"
  
     class="btn btn-outline-dark 
     {% if posts.page == 1 %}disabled{% endif %}">
      &laquo;
  </a>
<!-- Loop through the number of pages to display a link for each-->
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
          {% if posts.page == page_num %}
          <a href="/dashboard/{{user.username}}?page={{ page_num }}"
             class="btn btn-dark">
              {{ page_num }}
          </a>
          {% else %}
          <a href="/dashboard/{{user.username}}?page={{ page_num }}"
             class="btn btn-outline-dark">
              {{ page_num }}
          </a>
          {% endif %}
      {% else %}
          ...
      {% endif %}
  {% endfor %}
  <a href="/dashboard/{{user.username}}?page={{posts.next_num}}"
     class="btn btn-outline-dark 
     {% if posts.page == posts.pages %}disabled{% endif %}">
      &raquo;
  </a>
</div>
<!--<p class="text-right mt-3">
 Showing page {{ posts.page }} of {{ posts.pages }}<br>
</p>-->
</div>
<!-- End of Pagination Links-->


  </div> 
  {% else %}
  <!-- If there are 0 posts we show this accordion helping the user getting started-->
  <h2>👋🏻 Welcome to Frankly</h2>
  <h3>get started in 2 steps:</h3>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Step 1: Customize your survey
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p>Custom questions allow you to ask your clients for something specific. It helps you ask them: <br><i>"How did you like your <strong>Pizza</strong>"</i><br></p>
          <form method="POST">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h6>Main question: Usually you ask users to rate you with this question</h6>

              <div class="mb-3">
                <input 
                type="text" 
                class="form-control" 
                name="FirstCustomQuestion" 
                id="FirstCustomQuestion" 
                placeholder="{{user.customquestion0}}" 
                aria-describedby="emailHelp"/>
              </div>
              <h6>Follow up questions:</h6>
              <div id="emailHelp" class="form-text">After the user answers the main question, they can get up to 2 followup questions in our chat.</div>
              <div class="mb-3">
                <input 
                type="text" 
                class="form-control" 
                placeholder="{{user.customquestion1}}" 
                name="FollowUpQuestion1" 
                id="FollowUpQuestion1"/>
              </div>
              
                <div class="mb-3">
                  <input 
                  type="text" 
                  class="form-control" 
                  placeholder="{{user.customquestion2}}" 
                  name="FollowUpQuestion2" 
                  id="FollowUpQuestion2"/>
                </div>

                <h6>What name should we show on the surveys?</h6>
                <div class="mb-3">
    
                  <input 
                  type="text" 
                  class="form-control" 
                  name="userpublicname" 
                  id="userpublicname" 
                  placeholder="{{user.userpublicname}}" 
                  aria-describedby="emailHelp"/>
                </div>

            <button type="submit" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLink" aria-controls="offcanvasLink"><i class="bi bi-check2-square"></i> Save Custom Questions</button>
          </form>
                </div>
                <div class="col">
                  <img class="p-2" src="{{ url_for('static',filename='assets/img/examplechat.jpeg') }}" width="250"  alt="Frankly">
                </div>
                
              </div>
            </div>
            
            



        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Step 2: Share your surveys
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <p>Share your first survey!</p>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEmail" aria-controls="offcanvasEmail"><i class="bi bi-envelope-check"></i><br> Email</button>
            <button type="button" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSMS" aria-controls="offcanvasSMS"> <i class="bi bi-chat-dots"></i><br> SMS</button>
            <button class="btn btn-primary text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-qr-code"></i> <br>QR Codes</button>

            <button type="button" class="btn btn-primary text-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLink" aria-controls="offcanvasLink"><i class="bi bi-share"></i> <br>Link</button>

          </div>
        </div>
      </div>
    </div>
    
  </div>
  {% endif %}   
  <!-- end of the getting started accordion-->

</div>
</div>
  
</div>


</div>

<!-- These 2 offcanvas items manage the sliding in of information when users tap the SMS and Email buttons-->


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h3 id="offcanvasRightLabel">Download QR codes</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Share your QR Codes to start collecting feedback    </p>
    <img class="app-badge center-block" src="{{ url_for('static',filename='assets/img/outdoors.jpeg') }}" alt="..." style="max-width: 100%"/>
    <br><br>

      <a href="/downloadQR/{{user.id}}/generic" class="btn btn-primary text-dark" tabindex="-1" role="button"><i class="bi bi-qr-code"></i> Generic QR Code</a>
      <br><br>
      <div class="btn-group-vertical">      
      <a href="/downloadQR/{{user.id}}/promotor" class="btn btn-primary text-dark" tabindex="-1" role="button"><i class="bi bi-emoji-smile"></i> Happy Feedback QR code</a>
      <a href="/downloadQR/{{user.id}}/neutral" class="btn btn-primary text-dark" tabindex="-1" role="button"><i class="bi bi-emoji-expressionless"></i> Neutral Feedback QR code</a>
      <a href="/downloadQR/{{user.id}}/detractor" class="btn btn-primary text-dark" tabindex="-1" role="button"></i><i class="bi bi-emoji-frown"></i> Unhappy Feedback QR code</a>
    </div>
  </div>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSMS" aria-labelledby="offcanvasSMS">
  
  <div class="offcanvas-header">
    <h3 id="offcanvasSMS">How to get feedback through SMS</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h5>Step 1: Send the template to your phone</h5>
    <a href="/sendwhatsapp/{{user.id}}/{{user.phonenumber}}" class="btn btn-primary text-dark" tabindex="-1" role="button"><i class="bi bi-send-check"></i> Send the SMS template to my phone</a>
    <br>    <br>    <br>
    <img class="app-badge center-block" src="{{ url_for('static',filename='assets/img/chat.jpeg') }}" alt="..." style="max-width: 50%"/>
    <br>
    <br>
    <hr>

    <br>
    <h5>Step 2: Share the template with contacts in your phone </h5>
    <li>Simply hold your finger on the message in SMS, and a menu will pop up. </li>
   <li>Tap "forward" and select the contacts you want to ask for feedback</li>>
    <img class="app-badge center-block" src="{{ url_for('static',filename='assets/img/sharing.jpeg') }}" alt="..." style="max-width: 50%"/>
    <br>
    <br>
    <hr>
    <h5>Or: Copy + paste and make it your own</h5>
    <p>If you want to ask for feedback anywhere else, simply copy paste the template and make it your own!</p>
    <pre><code>
      {{user.customquestion0}}


      😃 it’s great! --> https://franklyapp.nl/send-feedback/{{user.id}}/3
      
      
      😐 it’s ok --> https://franklyapp.nl/send-feedback/{{user.id}}/2
      
      
      🙄 it’s lacking --> https://franklyapp.nl/send-feedback/{{user.id}}/1
      
      Thanks, 
      {{user.userpublicname}}
    </code></pre>
  </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEmail" aria-labelledby="offcanvasEmail">
  <div class="offcanvas-header">
    <h3 id="offcanvasSMS">How to get feedback through Email</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h5>Method 1: Send the template to your mailbox</h5>
    <a href="/sendemail/{{user.id}}/{{user.email}}" class="btn btn-primary text-dark" tabindex="-1" role="button"> <i class="bi bi-send-check"></i> Send the template to <b>my</b> email address</a>
    <br>    <br>
    <img class="app-badge center-block" src="{{ url_for('static',filename='assets/img/email.jpeg') }}" alt="..." style="max-width: 50%"/>


    <br>
    <hr>
    <br>
    <h5>Method 2: Send the feedback template to your contacts directly</h5>
    <form 
    method="GET"
    action="/SendMultipleEmail/{{user.id}}"
    >
    <div class="input-group mb-3">
      <input 
      type="text" 
      name="multiplerecipients" 
      placeholder="bob@bob.com, alice@alice.com"  
      id="multiplerecipients" class="form-control" 
      placeholder="Email address of your recipient" 
      aria-label="Recipient's username" 
      aria-describedby="multiplerecipients">

      <button type="submit"class="btn btn-primary text-dark" type="button" id="multiplerecipients">Send to client</button>
    </div>
  </form>


    <small><i>Did you know you can add multiple recipients by separating email addresses using a comma?</i></small>
    <br>
    <br>
    <hr>
    <br>
    <h5>Method 3: Copy + paste and make it your own</h5>
    <p>If you want to ask for feedback anywhere else, simply copy paste the template and make it your own!</p>
    <pre><code>
      {{user.customquestion0}}


      😃 it’s great! --> https://franklyapp.nl/send-feedback/{{user.id}}/3
      
      
      😑 🙄 it’s lacking! --> https://franklyapp.nl/send-feedback/{{user.id}}/2
      
      
      🙄 it’s lacking --> https://franklyapp.nl/send-feedback/{{user.id}}/1
      
      Thanks, 
      {{user.userpublicname}}
    </code></pre>
  </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasLink" aria-labelledby="offcanvasLink">
  
  <div class="offcanvas-header">
    <h3 id="offcanvasLink">Get feedback through a Link</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <button class="btn btn-primary text-dark" onclick="myFunction()"><i class="bi bi-clipboard-check"></i><br> Copy link</button>
    <script>
      function myFunction() {
          /* Get the text field */
          navigator.clipboard.writeText("https://franklyapp.nl/getfeedback/{{user.id}}");
          /* Alert the copied text */
          alert("Copied https://franklyapp.nl/getfeedback/{{user.id}} link to your clipboard." );
        }
    </script>

    <a href="/getfeedback/{{user.id}}" class="btn btn-primary text-dark" tabindex="-1" role="button"><i class="bi bi-box-arrow-up-right"></i><br>Visit link</a>
    <br><br>
    <img class="app-badge center-block" src="{{ url_for('static',filename='assets/img/link.png') }}" alt="..." style="max-width: 100%"/>    <br><br>
        <pre><code>

      https://franklyapp.nl/getfeedback/{{user.id}}

    </code></pre>



{% endblock%}
        