
{% extends "theme.html" %} {% block title %}GrapeVine - Forgot password{% endblock %} 



{% block Content%}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Forgot password </h1>
      <p>Enter the email address that belongs to your account and we'll email you reset instructions.</p>
    <form method="POST" class="row g-3">
      
            
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter your Email"
              />
              </div>
              <div align="center">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
          </form> 
        </div> 
        <div class="col-sm-2"> </div>



{% endblock%}
        