
{% extends "/theme.html" %} {% block title %}Frankly - Giving Feedback made easy{% endblock %} 



{% block Content%}
<br><br>

<div class="container align-center>
  <div class="row">
    <div class="col-md-7">
               
        <form method="POST">
                <h3 align="center">Get invited to the Frankly Beta release!</h3>
                <div class="alert alert-info" role="alert">
                  There are currently 0 available spots in our beta program. Leave your emailaddress to get invited.
                </div>
        
                <p>Leave your email address to sign up to the waitinglist. As soon as more spots become available we'll send you an email!</p>
                <div class="form-group">                  
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                  <div align="center">
                    <br>
                    <button class="btn btn-primary text-dark" type="submit">Sign Up to the waiting list</button>
                  </div>
                </div>
              </form>
              <br><Br>
    </div>
  </div>
</div>            
{% endblock%}
        