
{% extends "theme.html" %} {% block title %}Frankly - Forgot password{% endblock %} 



{% block Content%}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Reset password </h1>
      <p>Type your new password</p>
    <form method="POST" class="row g-3">
      
            
            <div class="form-group">
              <input
                type="password"
                id="password1"
                name="password1"
                class="form-control"
                placeholder="Type your new password"
              />
              </div>
              <div class="form-group">
                
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="confirm your new password"
                />
                </div>
              <div align="center">
                <button class="btn btn-primary text-dark" type="submit">Reset password</button>
              </div>
          </form> 
        </div> 
        <div class="col-sm-2"> </div>



{% endblock%}
        