
{% extends "theme.html" %} {% block title %}GrapeVine - Giving Feedback made easy{% endblock %} 



{% block Content%}
<br><br>
        <h1>Sign up to Grapevine </h1>
        <p>Create an account and enjoy all the benefits of instant feedback</p>
        
        <form method="POST">
                <h3 align="center">Sign Up</h3>
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                  />
                  <label for="username">Username</label>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Enter Username"
                  />
                  <label for="password1">Password</label>
                  <input
                    type="password"
                    id="password1"
                    name="password1"
                    class="form-control"
                    placeholder="Enter Password"
                  />
                  <label for="password2">Type your password Again</label>
                  <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Enter Password Again"
                  />
                  <br />
                  <input class="form-check-input" type="checkbox"type="radio" name="option" id="option" value="accepted"> I accept the <a href="/terms">terms and conditions</a> of Grapevine </input<br>
                  <div align="center">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                  </div>
                </div>
              </form>

              <section class="page-section" id="contact">
                <div class="container">
                    <!-- Contact Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-dark mb-0">Sign Up!</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Contact Section Form-->
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7">
                            <form id="contactForm" method="POST">
                                <!-- UsernameName input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="username" type="text" placeholder="Enter a Username..." data-sb-validations="required" />
                                    <label for="username">Pick a username</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Pick a username</div>
                                </div>
                                <!-- Email address input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <!-- Password-->
                                <div class="form-floating mb-3">
                                  <input class="form-control" id="password1" type="text" placeholder="Pick a password..." data-sb-validations="required" />
                                  <label for="password1">Pick a password</label>
                                  <div class="invalid-feedback" data-sb-feedback="name:required">Pick a password</div>
                              </div>
                              <div class="form-floating mb-3">
                                <input class="form-control" id="password2" type="text" placeholder="Pick a password..." data-sb-validations="required" />
                                <label for="password2">Confirm your password</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Confirm your password</div>
                              </div>
                              
                                <!-- Submit Button-->
                                <br />
                                <input class="form-check-input" type="checkbox"type="radio" name="option" id="option" value="accepted"> I accept the <a href="/terms">terms and conditions</a> of Grapevine </input<br>
                                <div align="center">
                                  <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Sign Up</button>
                                </div>

                                <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

{% endblock%}
        