{% extends "legal/theme.html" %} {% block title %}GrapeVine - Giving Feedback made easy{% endblock %} 



{% block Content%}
<br><br>
        <h1>Terms and Conditions</h1>


<p>Op deze pagina vindt u de algemene voorwaarden van https://grapevine.works , zoals deze beschikbaar is gesteld door Grapevine . In deze algemene voorwaarden geven wij aan onder welk voorbehoud wij de informatie op onze website aan u aanbieden.</p>

<p>
Intellectueel eigendom

Het gebruik van de informatie op deze website is gratis zolang u deze informatie niet kopieert, verspreidt of op een andere manier gebruikt of misbruikt. U mag de informatie op deze website alleen hergebruiken volgens de regelingen van het dwingend recht.

Zonder uitdrukkelijke schriftelijke toestemming van Grapevine is het niet toegestaan tekst, fotomateriaal of andere materialen op deze website her te gebruiken. Het intellectueel eigendom berust bij Grapevine.
</p>
</p>
Indien van toepassing:

Voor de prijzen die op onze website staan, geldt dat wij streven naar een zo zorgvuldig mogelijke weergave van de realiteit en de bedoelde prijzen. Fouten die daarbij ontstaan en herkenbaar zijn als programmeer dan wel typefouten, vormen nooit een aanleiding om een contract dan wel overeenkomst met Grapevine te mogen claimen of te veronderstellen.

Grapevine streeft naar een zo actueel mogelijke website. Mocht ondanks deze inspanningen de informatie van of de inhoud op https://grapevine.works onvolledig en of onjuist zijn, dan kunnen wij daarvoor geen aansprakelijkheid aanvaarden.

De informatie en/of producten op deze website worden aangeboden zonder enige vorm van garantie en of aanspraak op juistheid. Wij behouden ons het recht voor om deze materialen te wijzigen, te verwijderen of opnieuw te plaatsen zonder enige voorafgaande mededeling. Grapevine aanvaardt geen aansprakelijkheid voor enige informatie die op websites staat waarnaar wij via hyperlinks verwijzen.
</p><p>
Wijzigingen

Mochten deze algemene voorwaarden wijzigen, dan vindt u de meest recente versie van de disclaimer van https://grapevine.works op deze pagina.
</p>

        
{% endblock%}
        